mixin themeCard(theme)
    .theme    
        .title 
            h2 #{theme.themeText}
        span.page-divider
            span.one
            span.two
        h2 Must include
        ul
            each thing in theme.things
                li #{thing} 