.story p{
    display: block;
    margin-top: 1em;
}

.themesc{
    display:flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    
    
}


.themesx .theme{
    width:300px;
}