extends ../sc-layout-bulma
include ../mixins/_storyCard
include ../mixins/_comments
include ../mixins/_themeInfo
include ../mixins/_themeBreadcrumb
block content
    section.section
        .container      
            +themeBreadcrumb(theme)
            h1.title.has-text-centered All stories
            each story in stories         
                +storyCard(story,rule,displayAuthor)

