extends ../sc-layout-bulma
include ../mixins/_storyCard
include ../mixins/_comments
include ../mixins/_themeInfo
block content         
    
    section.section
        .container.has-text-centered
            if themesWithStoriesWithoutComments.length==0
                p Congrats, you are a feedback superstar!
            else
                h2.title You haven't fed back on the following stories yet
                p (It takes a few minutes for new comments to be reflected on this list)
                
                each theme in themesWithStoriesWithoutComments
                    p #{theme.themeText}
                    ul
                    each story in theme.stories
                        li
                            a(href=`${siteRoot}/${story.path}`) #{story.title}

block aside
    