extends sc-layout

block content
    section
        p Story Club came about in 2016 when Jenny Allan and James Mahoney decided they needed an impetus to make creative writing a regular part of life.
        p Imposing a strict set of largely ignored rules made approaching the task of creating a weekly story less intimidating and often helped inspiration to flow. Story Club was born.
        p Lately we have welcomed Lewis Gwyther to the executive committee despite his many failings (thank you, positive discrimination).
        p We now have regular contributors and an active, supportive online community of people providing feedback and helping to improve each other’s writing.


        h1 How it works
        p Here’s how it works:
        ul
            li Every Wednesday a theme is shared on the home page along with three random words
            li Members draft a 500 word story on this theme, including the three words  (you can be as creative as you like with this)
            li Stories are submitted the following Wednesday (or Thursday at a push) and posted to the Story Club website
            li Members then leave constructive feedback on each other’s stories through the site
            li The  next theme is issued
            li Write, rinse repeat

        p We welcome feedback from other people on stories, so please feel free to browse our back catalogue and share your thoughts, even if you’re not a current contributor. If you’d like to find out more about getting involved with Story Club drop an email to storymarmalade@gmail.com

        h1 Copyright
        p Story content remains the property of the original author. 

