extends sc-layout-bulma
block content 
    section.section(style="background-color: #fafafa;")
        .container.has-text-centered
            h1.title Our brave and attractive authors
            if authors && authors.length > 0
                each author in authors
                    p
                        a(href=`${siteRoot}/a/${author.publicId}`) #{author.name}  
            else
                p sad-face. No one here
    section.section
        .container.has-text-centered
            p Want in?
            p Write a story. 500 words. Mail it. 
            p.control.has-text-centered(style="padding-top:20px;")
                a.button.is-primary(href="mailto:storyclub500@gmail.com") storyclub500@gmail.com
