extends sc-layout-bulma
block more-styles
    link(rel='stylesheet', href=`${siteRoot}/bulma-timeline.min.css`)
block content
    

    section.section(style="background-color: #fafafa;")
        .container.story
            h1.title.has-text-centered How it works
            .columns.is-multilidne.is-centered
                .column.is-half       
                    p Here’s how it works:
                    .content
                        ul
                            li Every Wednesday a theme is shared on the home page along with three random words
                            li Members draft a 500 word story on this theme, including the three words  (you can be as creative as you like with this)
                            li Stories are submitted the following Wednesday (or Thursday at a push) and posted to the Story Club website
                            li Members then leave constructive feedback on each other’s stories through the site
                            li The  next theme is issued
                            li Write, rinse repeat

                    p We welcome feedback from other people on stories, so please feel free to browse our back catalogue and share your thoughts, even if you’re not a current contributor. If you’d like to find out more about getting involved with Story Club drop an email to 
                        a(href="mailto:info@storyclub.co.uk") info@storyclub.co.uk
    section.section
        .container
            h1.title.has-text-centered Copyright
            .columns.is-multilidne.is-centered
                .column.is-half               
                    p Story content remains the property of the original author. 

    section.section(style="background-color: #fafafa;")
        .container
            h1.title.has-text-centered History
            .columns.is-multilidne.is-centered
                .column.is-half 
                    .content
                        .timeline
                            .timeline-header
                                span.tag.is-medium.is-primary 2016

                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading November
                                    p The (in)glorious birth!
                                    p 
                                        a(href="/h/whimsical-or-mysterious") Check out story #1 and #2
                                    p
                                        a(href="/a/jenny") Jenny Allan 
                                        | and 
                                        a(href="/a/james") James Mahoney 
                                        | decided they needed an impetus to make creative writing a regular part of life.                                    

                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading Christmas
                                    p Nadolig llawen pawb!
                                    p Happy new year, and well done on 7 themes in just 8 short weeks. Also - welcome 
                                        a(href="/a/liz") Liz 
                                        | to the storyclub bosom. Everybody needs a bosom for a pillow
                            .timeline-header
                                span.tag.is-medium.is-primary 2017
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading Sometime (we forget when)
                                    p Welcome 
                                        a(href="/a/hannah") Hannah
                                        |, 
                                        | 
                                        a(href="/a/beth") Beth
                                        |,
                                        | 
                                        a(href="/a/donna") Donna
                                        |, and 
                                        a(href="/a/lewis") Lewis
                                        |.                           
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading Christmas
                                    p End of the year! Woah, 41 themes issued and completed!
                            .timeline-header
                                span.tag.is-medium.is-primary 2018   
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading September
                                    p The great restart. Lax times in StoryClub land. Many joined, and could not be arsed. They were culled. This is the bright new dawn. Oh, and we got a website. 
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading October
                                    p Disqus added to the site for story feedback. No one notices.
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading Who cares
                                    p Lewis Gwyther welcomed to the executive committee despite his many failings (thank you, positive discrimination).
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading Christmas
                                    p Second full year. A fallow year. Only 17 themes issued and completed. 
                            .timeline-header
                                span.tag.is-medium.is-primary 2019
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading March
                                    p Mass upload of old stories. Mass typos. But 48 stories so far in 2019. That's 24,000 scintillating words from 8 (or 9 (or 10)) uncommonly attractive authors
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading April
                                    p Switch to 
                                        a(href="https://bulma.io" target="_blank") Bulma 
                                        | for layout and styling

                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading May
                                    p 
                                        a(href="https://www.youtube.com/watch?v=FKzULyr59LU") Penblwydd Hapus 
                                        |  
                                        a(href="/a/lewis") Lewis
                                        | . You don't look thirty-seven!                                     
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading June
                                    p Mass social media splurge. Nine followers. Check it. NINE.                                                                        
                                    p
                                        a(href="/a/lewis") Lewis 
                                        | discovers the Twitter embed GIF function   
                                    p          
                                        a(href="/a/dan") Dan
                                        |  hits the big two oh.                                                       
                            .timeline-item
                                .timeline-marker.is-primary
                                .timeline-content
                                    p.heading November                                                                                                       
                                    p
                                        a(href="/a/jenny") Jenny 
                                        | and                                        
                                        a(href="/a/james") James
                                        |  make their centuries.                                              
                            .timeline-header
                                span.tag.is-medium.is-primary End of the universe
    section.section
        .container.story
            h1.title.has-text-centered About Le Storyclub
            .columns.is-multilidne.is-centered
                .column.is-half       
                    p Story Club came about in 2016 when 
                        a(href="/a/jenny") Jenny Allan 
                        | and 
                        a(href="/a/james") James Mahoney 
                        | decided they needed an impetus to make creative writing a regular part of life.
                    p Imposing a strict set of largely ignored rules made approaching the task of creating a weekly story less intimidating and often helped inspiration to flow. Story Club was born.
                    p Lately, we have welcomed 
                        a(href="/a/lewis") Lewis Gwyther 
                        | to the executive committee despite his many failings (thank you, positive discrimination).
                    p We now have regular contributors and an active, supportive online community of people providing feedback and helping to improve each other’s writing.
            