extends sc-layout
include mixins/_storyCard
include mixins/comments/_singleComment
include mixins/_themeInfo
block content      
    

    
    //-pre= helpers.dump(leagueTable)
    h1 All comments
    .commentContainer
        each story in stories
            .story
                h2 #{story.title}
                ul.comments
                    each comment in story.comments
                        li.comment
                            +writeComment(comment)
