extends sc-layout
include mixins/_storyCard
include mixins/comments/_singleComment-1
include mixins/_themeInfo
block content         
    
    //-pre= helpers.dump(leagueTable)
    h1 All comments
    each story in stories
        h2 #{story.title}
        ul
            each comment in story.comments
                li
                    +writeComment(comment)
