extends sc-layout-bulma
include mixins/_storyCard
include mixins/_comments
include mixins/_themeInfo
block content         
    section.section 
        .container
            +storyCard(story,rule,displayAuthor)    

    section.section
        .container
            h2.title Feedback please!
            +comments("http://www.storyclub.co.uk/" + story.path,story.id,"storyclub")

//- block aside
//-     if theme
//-         +themeInfo(theme,true)