extends sc-layout
include mixins/_storyCard
include mixins/_comments
include mixins/_themeInfo
block content         
        
    +storyCard(story,rule,displayAuthor)    
    section
        h2 Feedback please!
        +comments("http://www.storyclub.co.uk/" + story.path,story.id,"storyclub")

block aside
    if theme
        +themeInfo(theme,true)