extends sc-layout-bulma
include mixins/_storySubmit
include mixins/_themeInfo
block content
    section.section.theme
        .container.has-text-centered
            h1.title Theme
            p #{theme.themeText}
            h1.subtitle Must include
            ul
                each thing in theme.things
                    li #{thing}
            h4 Deadline
            p #{theme.deadline}
        //- h1 Ready already?
        //- p Well then, get submitting here
        //- +storySubmit(theme, authors)
        