.author
{
    text-align: center;
}

div.title
{
    text-align: center;
}

.page-divider {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ddd;
}

.page-divider .one {
    position: relative;
    top: -9px;
    display: block;
    background: #ddd;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.page-divider .two {
    position: relative;
    top: -26px;
    display: block;
    background: #fff;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}