extends layout

block content
    .question
        h1 What's all this then?
        p It's all about Pointless Whimsy        
    h1 What's with the name?
    p Pointless whimsy, innit. Or an excuse for appealing puns, for shredding conventions, for laying on the sweetness thick and fruity, for as long as you can Paddington Bear it.    
    h1 Who are we?
    p Some people
    h1 What do we want?
    p Things
    h1 When do we want them?
    p Whenever