extends sc-layout
include mixins/_storyCard
include mixins/_comments
include mixins/_themeInfo
block content
    section        
        h1 All stories
        each story in stories         
            +storyCard(story,rule,displayAuthor)

block aside
    +themeInfo(theme,true)
